#-- main application configuration:
base:
    debug: true
    log_level: "debug"
    plugins:
      basedir: "./plugins"
      loadlist:
        - http

#-- 3-rd party plugins:
http:
  listen: "ip:port"

telegram:
  token: "token:token"
  timeout: 60

mysql:
    host: "host:poprt"
    username: "username"
    password: "password"
    database: "database"
    migrations:
      dir: "/directory"
