#-- main application configuration:
base:
    debug: true
    log_level: "debug"
    http:
        listen: "ip:port"

#-- 3-rd party services:
telegram:
  token: "token:token"
  timeout: 60

mysql:
    host: "host:poprt"
    username: "username"
    password: "password"
    database: "database"
    migrations:
      dir: "/directory"
